@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    background-color: aliceblue;
}

.imgDiv .pic {
    width: 100vw
    margin: 10px
 }

.pic {
    margin: 0 auto;
    object-fit: cover;
    height: 60vh;
    border-radius: 50%;
}

.welcome {
    height: 100vh;
    width: 100vw;
}

nav {
    width: 100%;

    height: 50px;
    position: fixed;
}
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
  
nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}
  
nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

#projects h2 {
    text-align: center;
}

.project-div {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

.project {
    width: 200px;
    padding: 5px;
    margin: 20px;
    border: 2px solid #adff2f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

.project:hover {
    border: 2px solid blueviolet
}

#contact h2 {
    text-align: center;
}

#contact {
    margin: 0 auto;
}

#location {
    text-align: center;
}

#location .email {
    color: inherit;
    text-decoration: none;
    padding: 5px;
}

#location .email:hover {
    border: 1px solid greenyellow;
    border-radius: 5px;
}

#social {
    display: flex;
    justify-content: center;
}

#icon:hover {
    border: 1px solid greenyellow;
    border-radius: 50%;
}

@media (max-width: 1000px) {
    .nav {
        padding: 15px;
    }
    section {
        padding: 3rem 0 2rem;
    }
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .project-div {
        margin-top: 2rem !important;
        justify-content: space-evenly;
    }
}
@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }
}
@media (max-width: 360px) {
    .project-div {
        margin-top: 2rem !important;
        justify-content: space-evenly;
    }
}
